.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: rgb(167, 28, 28);
  margin-top: 16px;
  font-size: 32px;
}

.history {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(209, 209, 212);
  margin-top: 16px;
}

.permission {
  text-align: center;
  background-color: rgb(184, 212, 24);
  color: rgb(167, 28, 28);
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}

body {
  background-color: #24334d;
  color: rgb(209, 209, 209);
  padding: 40px;
  font-family: Arial;
  text-align: center;
}
